<%= form_with(model: wob, local: true) do |form| %>
  <% if wob.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wob.errors.count, "error") %> prohibited this wob from being saved:</h2>

      <ul>
      <% wob.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :wob_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
